extends borrowerDashboardLayout

block variables
  -var activePage = 'myloans';
  
block content
  .content-box-large
    .panel-body
      h4
        | Transfer 
        span#amount #{data.outstandingAmount} 
        | ETH to the account 
        span#loanContract #{data.loanContractAddress}
        |  for the orderbook id 
        span#orderbookId #{data.OrderBookId} 
      h4
        | Your collateral will be transferred back to your account  
        span#borrower #{data.borrower}
      a.button.btn.btn-success.repay Transfer
